.cart {
  width: 100%;
  text-align: left;
}

.cart td {
  padding-top: 10px;
}

.total {
  padding-top: 10px;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  border-top: 1px solid #ccc;
}

.deleteall {
  padding: 0;
  color: #ff1a00;
  background: none;
  border: none;
}

.empty {
  padding: 30px 0;
  font-size: 22px;
  text-align: center;
}
