.lds-dual-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-top: -32px;
  margin-left: -32px;
}

.lds-dual-ring::after {
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  content: ' ';
  border: 5px solid #ededed;
  border-color: #ededed transparent #ededed transparent;
  border-radius: 50%;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
