.nav {
  background: linear-gradient(to top, #fff 0%, #f6f6f6 47%, #ededed 100%);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  font-size: 20px;
  font-weight: 700;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.item:not(:first-child) {
  margin-left: 15px;
}
