.item {
  margin-bottom: 30px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.img {
  max-width: 170px;
}

.price {
  margin-top: 5px;
}

.info {
  font-size: 25px;
  text-align: center;
}

.action {
  margin-top: 15px;
}

.btn {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background: #ededed;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  transition: background 0.15s;
}

.btn:hover {
  background: #b4df5b;
}

@media (min-width: 786px) {
  .item {
    width: 33.333%;
    padding: 0 10px;
  }
}
