.img {
  max-width: 100px;
}

.actions {
  display: flex;
}

.action {
  display: none;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  background: #ededed;
  border: none;
  border-radius: 0 100% 100% 0;
}

.action:hover {
  background: #b4df5b;
}

.action_decrement {
  border-radius: 100% 0 0 100%;
}

.action_decrement:hover {
  background: #ff1a00;
}

.field {
  flex-shrink: 0;
  width: 35px;
  height: 26px;
  -moz-appearance: textfield;
}

.field::-webkit-outer-spin-button,
.field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.remove {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  color: #ff1a00;
  background: none;
  border: 1px solid #ff1a00;
  border-radius: 100%;
}

.remove:hover {
  color: #fff;
  background: #ff1a00;
}

@media (min-width: 768px) {
  .action {
    display: inline-flex;
  }

  .field {
    margin: 0 5px;
  }
}
